/**
 * Name: Benjamin Nicholas Palmer
 * Student ID: 17743075
 * Class: Distributed Computing (COMP3008)
 * Date Last Updated: 15MAY19
 *
 * Purpose:
 * CSS for the DnD character builder website.
 * Used "column" classes to format the html. If I was to do again, I probably should have used something like a flexbox.
 **/

body {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    background-color: whitesmoke;
    text-align: center;
    vertical-align: top;
    position: absolute;
    left: 10%;
    right: 10%;
}

/*Make it work on smaller screens*/
@media screen and (max-width: 700px) {
    body {
        left: initial;
        right: initial;
    }
    .col1 {
        width: 20%;
    }

    .col2 {
        width: 20%;
    }

    .col3 {
        width: 15%;
    }

    .col4 {
        width: 10%;
    }

    .col5 {
        width: 20%;
    }
}

input:invalid {
    border: 1px dashed red;
}
input:focus:invalid {
    border: initial;
}

h1 {
    color: midnightblue;
}
h2 {
    color: forestgreen;
}

form {
    line-height: 140%;
    min-width: 350px;
}

#characterList {
    word-wrap:break-word;
}
#characterList h2 {
    margin-bottom: 0;
}
#characterList form {
    display: inline;
}

.col1Label {
    width: 20%;
    min-width: 150px;
}
.col2Value {
    width: 45%;
    min-width: 150px;
}
.colExtra {
    width: 15%;
    min-width: 50px;
}

.col {
    display: inline-block;
 }
.col1 {
    width: 15%;
    min-width: 50px;
}
.col2 {
    width: 15%;
    min-width: 50px;
}
.col3 {
    width: 15%;
    min-width: 50px;
}
.col4 {
    width: 15%;
    min-width: 50px;
}
.col5 {
    width: 15%;
    min-width: 50px;
}