/**
 * Name: Benjamin Nicholas Palmer
 * Student ID: 17743075
 * Class: Distributed Computing (COMP3008)
 * Date Last Updated: 15MAY19
 *
 * Purpose:
 * CSS for the DnD character builder website.
 **/

body {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    background-color: whitesmoke;
    text-align: center;
    vertical-align: top;
    position: absolute;
    left: 10%;
    right: 10%;
}

h1 {
    color: midnightblue;
}
h2 {
    color: forestgreen;
}

form {
    line-height: 140%;
}

#characterList {
    word-wrap:break-word;
}
#characterList h2 {
    margin-bottom: 0;
}
#characterList form {
    display: inline;
}

.col {
    display: inline-block;
}
.col1 {
    width: 20%;
}
.col2 {
    width: 15%;
}
.col3 {
    width: 15%;
}
.col4 {
    width: 10%;
}
.col5 {
    width: 15%;
}